<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 4.0//EN"
  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.next_evolution.sandbox.infrastructure.db.mapper.fx.CountryMapper">

  <select id="getList" resultType="jp.co.next_evolution.sandbox.infrastructure.db.entity.KeyValueRecord">
    SELECT
       code AS `key`
      ,name_short AS `value`
    FROM fx_country
    WHERE deleted = 0
    ORDER BY sort_order
  </select>

  <select id="count" resultType="Integer">
    SELECT COUNT(code)
    FROM fx_country
    WHERE deleted = 0
  </select>

  <select id="search" resultType="jp.co.next_evolution.sandbox.infrastructure.db.entity.FxCountry">
    SELECT
       code AS code
      ,name AS name
      ,currency_code AS currencyCode
      ,name_en AS nameEn
      ,name_short AS nameShort
      ,sort_order AS sortOrder
    FROM fx_country
    WHERE deleted = 0
    ORDER BY sort_order
    <bind name="offset" value="(page - 1) * size"/>
    <if test="offset == 0 || offset &lt; 0">LIMIT 0, #{size}</if>
    <if test="offset &gt; 0">LIMIT #{offset}, #{size}</if>
  </select>

  <select id="countryList" resultType="jp.co.next_evolution.sandbox.infrastructure.db.entity.FxCountry">
    SELECT
       code AS code
      ,name AS name
      ,currency_code AS currencyCode
      ,sort_order AS sortOrder
    FROM fx_country
    WHERE deleted = 0
    ORDER BY sort_order
  </select>

  <select id="get" resultType="jp.co.next_evolution.sandbox.infrastructure.db.entity.FxCountry">
    SELECT
       code AS code
      ,name AS name
      ,currency_code AS currencyCode
      ,name_en AS nameEn
      ,name_short AS nameShort
      ,sort_order AS sortOrder
      ,deleted AS deleted
      ,created_at AS createdAt
      ,created_by AS createdBy
      ,updated_at AS updatedAt
      ,updated_by AS updatedBy
    FROM fx_country
    WHERE code = #{code}
  </select>

  <select id="exists" resultType="boolean">
    SELECT EXISTS
    (
      SELECT *
      FROM fx_country
      WHERE code = #{code}
    )
  </select>

  <insert id="insert" parameterType="jp.co.next_evolution.sandbox.infrastructure.db.entity.FxCountry">
    INSERT INTO fx_country (
       code
      ,name
      ,currency_code
      ,name_en
      ,name_short
      ,sort_order
      ,deleted
      ,created_at
      ,created_by
      ,updated_at
      ,updated_by
    ) VALUES (
       #{code}
      ,#{name}
      ,#{currencyCode}
      ,#{nameEn}
      ,#{nameShort}
      ,#{sortOrder}
      ,#{deleted}
      ,#{createdAt}
      ,#{createdBy}
      ,#{updatedAt}
      ,#{updatedBy}
    );
  </insert>

  <update id="update" parameterType="jp.co.next_evolution.sandbox.infrastructure.db.entity.FxCountry">
    UPDATE fx_country
    SET
       name = #{name}
      ,currency_code = #{currencyCode}
      ,name_en = #{nameEn}
      ,name_short = #{nameShort}
      ,sort_order = #{sortOrder}
      ,updated_at = #{updatedAt}
      ,updated_by = #{updatedBy}
    WHERE code = #{code}
  </update>

  <update id="updateCode">
    UPDATE fx_country
    SET
       code = #{country.code}
      ,name = #{country.name}
      ,currency_code = #{country.currencyCode}
      ,name_en = #{country.nameEn}
      ,name_short = #{country.nameShort}
      ,sort_order = #{country.sortOrder}
      ,updated_at = #{country.updatedAt}
      ,updated_by = #{country.updatedBy}
    WHERE code = #{code}
  </update>

</mapper>