<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 4.0//EN"
  "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.next_evolution.sandbox.infrastructure.db.mapper.fx.EconomicIndicatorMapper">

  <select id="getList" resultType="jp.co.next_evolution.sandbox.infrastructure.db.entity.KeyValueRecord">
    SELECT
       CAST(id AS CHAR) AS `key`
      ,name             AS `value`
    FROM fx_economic_indicator
    WHERE
      deleted = 0
    <if test="countryCode != 'ALL'">
      AND country_code = #{countryCode}
    </if>
    ORDER BY name
  </select>

  <select id="getEconomicIndicatorList"
    resultType="jp.co.next_evolution.sandbox.infrastructure.db.entity.FxEconomicIndicator">
    SELECT
       t.id            AS id
      ,t.country_code  AS countryCode
      ,t.name          AS name
      ,t.importance    AS importance
      ,t.description   AS description
      ,t.unit_of_value AS unitOfValue
      ,c.name          AS countryName
      ,c.name_short    AS countryNameShort
    FROM fx_economic_indicator t
    INNER JOIN fx_country c ON c.code = t.country_code
    WHERE
      t.deleted = 0
      AND t.country_code = #{countryCode}
  </select>

  <select id="count" resultType="Integer">
    SELECT COUNT(id)
    FROM fx_economic_indicator
    WHERE deleted = 0
    <if test="importance != null and importance != ''">
      AND importance = #{importance}
    </if>
    <if test="countryCode != null and countryCode != ''">
      AND country_code = #{countryCode}
    </if>
    <if test="name != null and name != ''">
      AND name LIKE '%${name}%'
    </if>
  </select>

  <select id="search"
    resultType="jp.co.next_evolution.sandbox.infrastructure.db.entity.FxEconomicIndicator">
    SELECT
       t.id            AS id
      ,t.country_code  AS countryCode
      ,t.name          AS name
      ,t.importance    AS importance
      ,t.description   AS description
      ,t.unit_of_value AS unitOfValue
      ,c.name          AS countryName
      ,c.name_short    AS countryNameShort
    FROM fx_economic_indicator t
    INNER JOIN fx_country c ON c.code = t.country_code
    WHERE
      t.deleted = 0
    <if test="importance != null and importance != ''">
      AND t.importance = #{importance}
    </if>
    <if test="countryCode != null and countryCode != ''">
      AND t.country_code = #{countryCode}
    </if>
    <if test="name != null and name != ''">
      AND t.name LIKE '%${name}%'
    </if>
    ORDER BY c.sort_order, t.id
    <bind name="offset" value="(page - 1) * size"/>
    <if test="offset &lt; 1">LIMIT 0, #{size}</if>
    <if test="offset &gt; 0">LIMIT #{offset}, #{size}</if>
  </select>

  <select id="get"
    resultType="jp.co.next_evolution.sandbox.infrastructure.db.entity.FxEconomicIndicator">
    SELECT
       t.id            AS id
      ,t.country_code  AS countryCode
      ,t.name          AS name
      ,t.importance    AS importance
      ,t.description   AS description
      ,t.unit_of_value AS unitOfValue
      ,t.deleted       AS deleted
      ,t.created_at    AS createdAt
      ,t.created_by    AS createdBy
      ,t.updated_at    AS updatedAt
      ,t.updated_by    AS updatedBy
      ,c.name          AS countryName
      ,c.name_short    AS countryNameShort
    FROM fx_economic_indicator t
    INNER JOIN fx_country c ON c.code = t.country_code
    WHERE t.id = #{id}
  </select>

  <select id="exists" resultType="boolean">
    SELECT EXISTS (
      SELECT *
      FROM fx_economic_indicator
      WHERE
        country_code = #{countryCode}
        AND name = #{name}
    )
  </select>

  <insert id="insert"
    parameterType="jp.co.next_evolution.sandbox.infrastructure.db.entity.FxEconomicIndicator"
    useGeneratedKeys="true" keyProperty="id">
    INSERT INTO fx_economic_indicator (
       country_code
      ,name
      ,importance
      ,description
      ,unit_of_value
      ,deleted
      ,created_at
      ,created_by
      ,updated_at
      ,updated_by
    ) VALUES (
       #{countryCode}
      ,#{name}
      ,#{importance}
      ,#{description}
      ,#{unitOfValue}
      ,#{deleted}
      ,#{createdAt}
      ,#{createdBy}
      ,#{updatedAt}
      ,#{updatedBy}
    )
  </insert>

  <update id="update">
    UPDATE fx_economic_indicator
    SET
       name         = #{indicator.name}
      ,importance   = #{indicator.importance}
      ,country_code = #{indicator.countryCode}
      ,description  = #{indicator.description}
      ,unit_of_value = #{indicator.unitOfValue}
      ,updated_at   = #{indicator.updatedAt}
      ,updated_by   = #{indicator.updatedBy}
    WHERE
      id           = #{indicator.id}
      AND country_code = #{countryCode}
  </update>

</mapper>
